<!--    /templates/tournament/index.html 
        Índice do torneio
-->

{% extends 'base.html' %}

{% block title %}Torneios | sharkr {% endblock %}

{% block content %}

  <!-- Main Content -->
  <div class="container">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h2><i class="fas fa-trophy me-2"></i>Torneio de Startups</h2>

        <!--  Informações sobre o torneio atual -->
        {% if current_tournament %}
          <span class="badge bg-info text-dark">
            Round Atual: {{ current_tournament.current_round }}
          </span>
        {% endif %}

        <!-- Botões de ações do torneio -->
         {% if current_tournament %}
        <form method="GET" action="{{ url_for('tournament.create') }}" class="d-inline">
            <button type="submit" class="btn btn-primary" {% if current_tournament and current_tournament.status != 'completed' %}disabled{% endif %}>
                Novo Torneio
            </button>
        </form>
        {% else %}
        <form method="GET" action="{{ url_for('tournament.create') }}" class="d-inline">
            <button type="submit" class="btn btn-primary">
                Novo Torneio
            </button>
        </form>
        {% endif %}

        <form method="POST" action="{{ url_for('tournament.next_round') }}" class="d-inline">
            <button type="submit" class="btn btn-primary">Próximo Round</button>
        </form>

        <form method="POST" action="{{ url_for('tournament.reset') }}" class="d-inline">
            <button type="submit" class="btn btn-primary">Resetar Torneio</button>
        </form>
      </div>

      <!--  Exibe o vencedor, se o torneio já houver sido terminado -->
    {% if current_tournament %}
      {% if current_tournament.status == 'completed' %}
        <div class="card-body bg-warning text-dark winner-card">
          <h3 class="text-center">Torneio Finalizado!</h3>
          <div class="text-center">
            <h4>Vencedor:</h4>
            <div class="display-4">{{ tournament_winner.name }}</div>
            <p class="lead">{{ tournament_winner.slogan }}</p>
          </div>
        </div>
      {% endif %}
    {% endif %}


      <!-- Lista de batalhas do torneio -->
      {% if battles %}
      <div class="card-body">
        <ul class="list-group">
          {% for battle in battles %}
            <li class="list-group-item d-flex justify-content-between">
              {{ battle.render()|safe }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <div class="card-body">
        <p class="text-muted">Nenhuma batalha no torneio ainda.</p>
      </div>    
    {% endif %}


    <style>
      .winner-card {
        background-color: #ffeb3b;
        color: #212529;
        border-radius: 0.5rem;
        padding: 1.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin: 1rem 1rem 1rem 1rem;
      }
    </style>
{% endblock %}

