<!--    sharkr/app/templates/battles/history.html 
        Histórico de batalhas
-->
{% extends 'base.html' %}

{% block title %}Histórico de Batalhas | sharkr {% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Histórico de Batalhas</h2>
    </div>

    {% if not data %}
        <div class="card-body">
            <p class="lead">Nenhuma batalha registrada.</p>
        </div>
    {% else %}
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Torneio</th>
                        <th>Startup A</th>
                        <th>Startup B</th>
                        <th>Status</th>
                        <th>Detalhes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td>{{ d[0].name }}</td>
                        <td>{{ d[1].name }}</td>
                        <td>{{ d[2].name }}</td>
                        <td>{{ d[3].status }}</td>
                        <td>
                            <a href="{{ url_for('battle.entry', id=d[3].id)}}" class="btn btn-sm btn-primary">
                                <i class="fas fa-plus"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}

