{% extends 'base.html' %}

{% block title %}Editar Startup | sharkr {% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Editar Startup</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ startup.name }}" required>
            </div>
            <div class="mb-3">
                <label for="slogan" class="form-label">Slogan</label>
                <input type="text" class="form-control" id="slogan" name="slogan" value="{{ startup.slogan }}" required>
            </div>
            <div class="mb-3">
                <label for="founding_year" class="form-label">Ano de Fundação</label>
                <input type="number" class="form-control" id="year" name="year" value="{{ startup.year }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{{ url_for('startup.index') }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}